<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Add new patient</h1></br>
        <h2>
            <a href="/addDoctor" class="btn btn-primary btn-lg">Add new doctor</a>
            <a href="/addPatient" class="btn btn-primary btn-lg">Add new patient</a>
            <a href="/getDoctors" class="btn btn-primary btn-lg">List doctors</a>
            <a href="/getPatients" class="btn btn-primary btn-lg">List patients</a>
            <a href="/deletePatient" class="btn btn-primary btn-lg">Delete Patient</a>
            <a href="/updateDoctor" class="btn btn-primary btn-lg">Update doctor</a>
        </h2>
    </header>

    <form action="/addnewPatient" method="POST">
        <div class="form-group col-xs-8">
            <label>FullName: </label>
            <input type="text"  name="fullName" class="form-control">
        </div>
        <div class="form-group col-xs-8">
            <label>DoctorID: </label>
            <input type="text"  name="doctorID" class="form-control">
        </div>
        <div class="form-group col-xs-8">
            <label>Age: </label>
            <input type="number"  name="age" class="form-control">
        </div>
        <div class="form-group col-xs-8">
            <label> Date: </label>
            <input type="date"  name="visitDate" class="form-control">
        </div>
        <div class="form-group col-xs-8">
            <label>Description</label>
            <textarea  class = "form-control" rows=="5" cols="30" name="description"></textarea>
        </div>
        <div class="form-group col-xs-5">
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>