<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1> Home</h1> </br>
        <h2>
            <h2>
                <a href="/addDoctor" class="btn btn-primary btn-lg">Add new doctor</a>
                <a href="/addPatient" class="btn btn-primary btn-lg">Add new patient</a>
                <a href="/getDoctors" class="btn btn-primary btn-lg">List doctors</a>
                <a href="/getPatients" class="btn btn-primary btn-lg">List patients</a>
                <a href="/deletePatient" class="btn btn-primary btn-lg">Delete Patient</a>
                <a href="/updateDoctor" class="btn btn-primary btn-lg">Update doctor</a>
            </h2>
        </h2>
    </header>
</body>
</html>