<html>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <header>
        <h1>Update Doctor Record</h1></br>
        <h2>
            <a href="/addDoctor" class="btn btn-primary btn-lg">Add new doctor</a>
            <a href="/addPatient" class="btn btn-primary btn-lg">Add new patient</a>
            <a href="/getDoctors" class="btn btn-primary btn-lg">List doctors</a>
            <a href="/getPatients" class="btn btn-primary btn-lg">List patients</a>
            <a href="/deletePatient" class="btn btn-primary btn-lg">Delete Patient</a>
            <a href="/updateDoctor" class="btn btn-primary btn-lg">Update doctor</a>
        </h2>
    </header>
    <h3>New changes here</h3>
    <div class = "col-md">
        <form action="/updateDoctorNumP" method="POST">
            <div class="form-group col-xs-7">
                <label>DoctorID:</label>
                <input type="text"  name="doctorID" />
            </div>
            <div class="form-group col-xs-7">
                <label>New number of patients:</label>
                <input type="number"  name="numPatient" />
            </div>
            <div class="form-group col-xs-6">
                <input type="submit" value="Submit" /> </br>
            </div>
        </form>
    </div>
</body>
</html>